/*
	The styles below were ripped from the Media Modal in WordPress 3.5
	~~ Thanks for building a beautiful Modal UI ( that I could steal )
*/
.backbone_modal {
	position: fixed;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	z-index: 160000;
	font-family: sans-serif;
	font-size: 14px;
}
.backbone_modal .backbone_modal-close {
	position: absolute;
	text-decoration: none;
	top: 10px;
	right: 10px;
	width: 30px;
	height: 30px;
	z-index: 1000;
	-webkit-transition: color .1s ease-in-out, background .1s ease-in-out;
	transition: color .1s ease-in-out, background .1s ease-in-out;
	color: #444 ;
}
.backbone_modal .backbone_modal-close:hover ,
.backbone_modal .backbone_modal-close:focus {
	color: #2ea2cc ;
}

.backbone_modal .backbone_modal-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	min-height: 300px;
	background: #fff;
}
.backbone_modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-height: 360px;
	background: #000;
	opacity: .7;
	z-index: 159900;
}
.backbone_modal-main {
	z-index: 200;
}
.backbone_modal-main article, .backbone_modal-main header {
	display: block;
	height: 50px;
	position: relative;
	padding: 4px 16px;
}
.backbone_modal-main h1 {
	font-size: 22px;
	font-weight: 200;
	line-height: 45px;
	margin: 0;
}
.backbone_modal-main footer {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 30px;
	z-index: 100;
	padding: 10px 0px;
	border: 0 solid #dfdfdf;
	border-width: 1px 0 0 0;
	box-shadow: 0 -4px 4px -4px rgba(0,0,0,0.1);
	background-color: white;
}
.backbone_modal-main footer .inner {
	padding: 0 16px;
}
.text-right {
	text-align: right;
}
.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/* Photo Assistant Specific Styles */
.photo-assistant > .dashicons {
	padding-top: 2px !important;
}

.pa-thumbnails {
	position: relative;
	overflow: scroll;
}

.pa-thumbnails > img {
	margin: 10px;
}

.pa-thumbnails > img.selected {
	border: 5px solid #0073aa;
	box-sizing: border-box;
}

.pa-thumbnails > .spinner {
	position: absolute;
  z-index: 20000;
  left: 50%;
  margin-left: -10px;
  visibility: visible;
}

.keywords {
	padding: 4px 16px;
}

.keywords ul, .keywords p, .keywords li {
	display: inline-block;
}

.keywords li {
	cursor: pointer;
	margin: 10px;
}

.keywords li.active {
	font-weight: 700;
}

.add-buttons {
	background-color: #fff;
	margin-top: -5px;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	width: 100%;
}

#add-featured-image, #embed-into-post { 
	margin: 10px 10px 0px 0px;
	max-width: 150px;
	text-align: center;
}
